doctype html
html
  head
   meta(charset="utf-8")
   meta(name="viewport",content="width=device-width, initial-scale=1")
   link(rel="stylesheet",href="assets/css/main.css")
   script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
   script(src="assets/js/functions.js")
   title The Egg
  body
    div.button
      span
      span
      span
    section.nav-wrapper
      div.nav-display
        h1 The Egg
        li Small
        li Medium
        li Large
    section.intro-wrapper
      div.intro-display
        h1 WHAT THE EGG?
    section.items-wrapper
      div.items-display
        ul
          li Small Egg
            img(src="http://colouringbook.org/Holidays/Easter/Easter_Coloring_Book/egg_black_white-555px.png")
            button View Egg
          li Medium Egg
            img(src="http://colouringbook.org/Holidays/Easter/Easter_Coloring_Book/egg_black_white-555px.png")
            button View Egg
          li Large Egg
            img(src="http://colouringbook.org/Holidays/Easter/Easter_Coloring_Book/egg_black_white-555px.png")
            button View Egg
    section.about-wrapper
      div.about-display
        img(src="http://colouringbook.org/Holidays/Easter/Easter_Coloring_Book/egg_black_white-555px.png")
            
            
    
