* {
  font-family: monospace;
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

.button {
  width: 32px;
  height: 25px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer; }
  .button:hover span:nth-child(2) {
    width: 25px; }
  .button:hover span:nth-child(3) {
    width: 25px; }
  .button span {
    width: 25px;
    height: 2px;
    background: #0f3e54;
    position: absolute;
    left: 2px; }
  .button span:nth-child(1) {
    width: 25px;
    top: 3px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  .button span:nth-child(2) {
    width: 18px;
    top: 9px;
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear; }
  .button span:nth-child(3) {
    width: 9px;
    top: 15px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear; }
  .button span:nth-child(1).sChange {
    width: 25px;
    top: 9px;
    background: #eef0f6;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear; }
  .button span:nth-child(2).sChange {
    width: 0px;
    top: 9px;
    background: #eef0f6;
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear; }
  .button span:nth-child(3).sChange {
    width: 25px;
    top: 9px;
    background: #eef0f6;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear; }

.nav-wrapper {
  width: 300px;
  height: 100vh;
  background: #0f3e54;
  position: fixed;
  z-index: 100;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.nav-display {
  width: 100%;
  height: 100%;
  color: #eef0f6;
  margin-left: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav-display li {
    color: #eef0f6;
    font-size: 20px;
    list-style: none;
    padding: 10px;
    letter-spacing: 0.6px;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-transition: all 0.35s ease 0.3s;
    transition: all 0.35s ease 0.3s; }
  .nav-display h1 {
    font-size: 30px;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-transition: all 0.35s ease 0.3s;
    transition: all 0.35s ease 0.3s; }

.slideNav {
  box-shadow: 3px 0px 10px black;
  -webkit-transform: translateX(0);
  transform: translateX(0); }
  .slideNav li, .slideNav h1 {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.intro-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("http://d1udmfvw0p7cd2.cloudfront.net/wp-content/uploads/2015/08/p10-jiji-white-eggs-a-20150829.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.intro-display {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .intro-display h1 {
    color: #0f3e54;
    font-size: 40px;
    position: relative; }
    .intro-display h1:after {
      content: "";
      display: block;
      border-bottom: 2px solid #0f3e54;
      position: absolute;
      left: 0;
      width: 0;
      -webkit-transition: all 0.35s linear;
      transition: all 0.35s linear; }
    .intro-display h1:hover:after {
      width: 100%; }
  .intro-display p {
    color: #0f3e54;
    font-size: 20px;
    font-style: normal; }
  .intro-display button {
    width: 150px;
    height: 38px;
    color: #eef0f6;
    font-size: 16px;
    background: #0f3e54;
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 10px #252525;
    cursor: pointer;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .intro-display button:hover {
      -webkit-transform: translateY(0);
      transform: translateY(0); }

.items-wrapper {
  width: 100%;
  height: 100%;
  background: #eef0f6;
  overflow-x: hidden; }

.items-display {
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 0; }
  .items-display ul {
    text-align: center; }
  .items-display li {
    width: 300px;
    height: 100%;
    color: #0f3e54;
    font-size: 20px;
    padding: 30px 0;
    opacity: 0;
    display: inline-block;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .items-display li.slideFigures {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .items-display img {
    width: 100%;
    height: 100%; }
  .items-display button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: #eef0f6;
    background: #0f3e54;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 10px #252525;
    cursor: pointer;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease; }
    .items-display button:hover {
      box-shadow: 0px 0px 10px #252525;
      -webkit-transform: translateY(0);
      transform: translateY(0); }

.about-wrapper {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#1B5F7F, #0f3e54);
  background: linear-gradient(#1B5F7F, #0f3e54);
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .about-wrapper.aboutUp {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .about-wrapper:after {
    display: block;
    content: "";
    border: 2em solid transparent;
    border-top-color: #0f3e54;
    position: absolute;
    margin-left: -2em;
    top: 100%;
    left: 50%; }

.about-display {
  width: 95%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 0;
  color: #eef0f6;
  text-align: center; }
  .about-display h1 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 40px; }
    .about-display h1 span {
      font-size: 28px;
      font-weight: bold;
      color: #fff;
      text-decoration: underline; }
  .about-display p {
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 30px; }

.form-wrapper {
  width: 100%;
  height: 100%;
  background: #eef0f6; }

.form-display {
  width: 95%;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center; }
  .form-display h1 {
    font-size: 30px;
    color: #0f3e54;
    padding: 40px 0; }
  .form-display button {
    width: 120px;
    height: 35px;
    color: #eef0f6;
    font-size: 20px;
    background: #0f3e54;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 10px #252525;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease; }
    .form-display button:hover {
      -webkit-transform: translateY(0);
      transform: translateY(0); }

.form-group {
  width: 95%;
  height: 100%;
  position: relative;
  padding: 10px 0; }
  .form-group label {
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    letter-spacing: 0.6px;
    position: absolute;
    top: 8px;
    left: 5px;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .form-group input {
    width: 300px;
    height: 50px;
    color: #0f3e54;
    font-size: 25px;
    background: #eef0f6;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0f3e54;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .form-group input:focus + label {
      color: #0f3e54;
      top: 0;
      font-size: 16px;
      font-weight: bold; }
    .form-group input:valid + label {
      color: #0f3e54;
      top: 0;
      font-size: 16px;
      font-weight: bold; }
